@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@105,200..900&display=swap');
/*
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 105;
    */
:root {
    --bgColor: #132b22;
    --textColor: #80baa5; 
    --untypedColor:#5f7a71;
    --typedColor: #b6d6cb;
}

#title {
    display: flex;
}

#backspaceIcon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 7px;
    filter: invert(1000%) sepia(100000%) saturate(10%) hue-rotate(124deg);
}

#a {
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: -50px;
    margin-left: 70px;
}

body {
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "width" 105;
    font-size: 1.6rem;

    background-color: var(--bgColor);
    color: var(--textColor);
}

main {
    width: 800px;
    margin: 70px auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.progressBar {
    position: relative;
    width: 100%;
    height: 15px;
    background-color: var(--untypedColor);
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
}

.progressFill {
    height: 100%;
    width: 0%;
    background-color: var(--typedColor);
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
}
/*
.progressText {
    color: var(--bgColor);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}
*/

button {
    font-family: "Inconsolata", serif;
    font-size: 1.0rem;
    color: var(--typedColor);
    background-color: var(--untypedColor);
    border: 0;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

button.active {
    background-color: var(--typedColor);
    color: var(--untypedColor);
  }

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#buttons {
    display: flex;
    margin : 10px;
    gap: 10px;
    align-items: left;
    flex-direction: column;
    cursor: pointer;
}

#restartButton {
    color: var(--bgColor);
    margin-right: auto;
    background-color: var(--textColor);
}
#words {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    overflow-anchor: none;
}

#game {
    line-height: 30px;
    height: 200px;
    overflow: hidden;
    position: relative;
    scrollbar-width: thin;
    
    -webkit-mask-image: linear-gradient(to bottom, 
        rgba(0,0,0,1) 10%, 
        rgba(0,0,0,0.7) 35%,
        rgba(0,0,0,0)
    );
    mask-image: linear-gradient(to bottom, 
        rgba(0,0,0,1) 40%, 
        rgba(0,0,0,0.5) 55%,
        rgba(0,0,0,0)
    );
}

#game:focus {
    outline: none;
}

.word {
    font-size: 1.7rem;
    padding: 4px 2px;
    color: var(--untypedColor);
    display: inline-block;
    margin: 2px;
}

.letter.correct{
    color: var(--typedColor);
}
.letter.incorrect{
    color: #f55;
}

@keyframes blink {
    0% { background-color: rgba(255, 255, 255, 1); }
    100% { background-color: transparent; }
}
.letter.current {
     animation: blink .7s  infinite;
}

#stats {
    margin-top: 20px;
    font-size: 1.4rem;
    color: var(--typedColor);
}
#stats p {
    margin: 5px 0;
}
#wordsTyped {
    color: var(--untypedColor);
}
#charactersTyped {
    color: var(--untypedColor);
}

#accuracy p {
    font-size: 1.4rem;
    margin: 5px 0;
    color: var(--typedColor);
}

#chartContainer {
    margin-top: 20px;
    height: 300px;
    position: relative;
}

#progressChart {
    background-color: var(--bgColor);
    border-radius: 8px;
    padding: 10px;
}

#game.typing {
    cursor: none !important;
}

#game.finished {
    cursor: default !important;
    overflow-y: scroll;
    -webkit-mask-image: none;
    mask-image: none;
}
